<div class="select-city" ontouchstart>
    <NavBar
        :show-right="false"
        @NavClickLeft="navClickLeft"
        @NavClickRight="navClickRight">
        <div class="title" slot="title" style="color: #fff;">选择城市（共 {{total}} 个城市）</div>
    </NavBar>
    <IndexBar
        stick
        :sticky-offset-top="46"
        :indexList=indexList>
        <IndexAnchor index="当前城市" />
        <Cell :title="cityCurrent.cityName" :icon="require('../../../assets/image/address-drop.svg')" @click="selectCity(cityCurrent)"></Cell>
    </IndexBar>
    <IndexBar
        stick
        highlight-color="#ee4844"
        :sticky-offset-top="46"
        :indexList=indexList>
        <template v-for="(item, key, index) in cityData">
            <IndexAnchor :index="key" />
            <Cell
                v-for="city in item"
                :key="city.cityCode"
                :title="city.cityName"
                @click="selectCity(city)"/>
        </template>
    </IndexBar>
    <Overlay :show="isLoading" z-index=999>
        <div class="wrapper">
            <Loading size="24px" vertical >加载中...</Loading>
        </div>
    </Overlay>
</div>
